.header {
  width: 100%;
  height: 85px;
  font-family: $font-header;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-height: 565px;

  p, img, svg {
    position: relative;
  }

  svg {
    margin-left: 3rem;
    width: 4px;
    height: 50px;
  }
}

.portfolio-bloc {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-left: 10vw;
}

.portfolio {
  font-size: $generic-size-m;
  color: $color-white;
  display: block;
  align-self: center;
}

.btn-menu {
  margin-right: calc(7% + 25px) ;
  border: 0;
  background: transparent;
}

.menuB {
  width: 57px;
  height: 53px;
}

.dropdown-menu {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dee2e129;
  z-index: -5;
  width: 100%;
  height: 300px;
  transform: translateY(-100%);
  transition: transform 300ms ease-in-out, opacity 0.3s ease-in-out;
}

.dropdown-menu-active {
  transform: translateY(0);
  margin-bottom: 30%;
}

.nav-text , .nav-text-mobile {
  position: relative;
  display: inline-block;
  color: $color-white;
  text-decoration: none;
  list-style: none;
}

.nav-text-mobile {
  width: -webkit-fill-available;
  height: 20px;
  text-align: center;
  justify-self: center;
  font-size: 1.1rem;
  font-weight: $fw-sm-b;
  margin: 20px;
}


@keyframes scaleZ {
  0% {
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}


.nav-text-1 {
  animation: scaleZ 400ms 80ms ease-in-out forwards;
}
.nav-text-2 {
  animation: scaleZ 400ms 160ms ease-in-out forwards;
}
.nav-text-3 {
  animation: scaleZ 400ms 240ms ease-in-out forwards;
}
