.header {
  padding: 10px 0;
  width: 100%;
  font-family: $font-header;
  height: 130px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
  position: sticky;
  background-color: rgb(92 97 97 / 47%);

  p, img, svg {
    position: relative;
  }

  svg {
    margin-left: 3rem;
    width: 4px;
    height: 50px;
  }
}

.header-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  flex-wrap: wrap;
  margin: 0 auto;
}

.portfolio-bloc {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.portfolio {
  font-size: $font-xxl;
  color: $color-white;
  display: block;
  align-self: center;
}


.menuB {
  width: 57px;
  height: 53px;
}

.menuB96 {
  width: 70px;
  height: 65px;
}

.navigation {
  padding-top: 20px;
  width: 280px;
  padding-left: 27px;
}

.nav-text , .nav-text-mobile {
  display: block;
  text-align: center;
  position: relative;
  display: inline-block;
  color: $color-white;
  text-decoration: none;
  list-style: none;
  padding: 0 10px;
}

.nav-text-mobile {
  width: auto;
  height: 20px;
  text-align: center;
  justify-self: center;
  font-size: 1.1rem;
  font-weight: $fw-sm-b;
}


@keyframes scaleZ {
  0% {
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}

