@import "../mixins";


.portrait-bloc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 300px;
  max-height: 300px;
  height: 100%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-around;
  align-items: center;
  transition: all 0.6s ease-in;
}

.portrait-bloc.active {
  margin-top: 10%;
  transform: translateY(200px);
  transition: all 0.7s ease-out;
}


.frame-selfie {
  position: relative;
  width:165px;
  height: 155px;
}

.selfie-img {
  position: relative;
  z-index: 5;
  border: 15px solid;
  border-radius: 15px;
  border-image: linear-gradient(
  #03398d, #00889c, #22a9a2) 1;
  background: rgba(224, 222, 222, 0.4) 50% / cover no-repeat;
  width: 100%;
  height: 100%;
  padding: 5px;
  object-fit: cover;
}

.description-bloc {
  width: 18.3125rem;
  height: 5.4375rem;
}

.description {
  font-family: $font-txt;
  font-weight: 500;
  text-align: center;
}
