
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@300;400;500;600&family=Poppins:wght@400;500;600;700&family=Signika+Negative:wght@400;500;600&display=swap');


$color-white: #FFFFFF;
$color-green: #ACF39D;
$color-purple: #9E90A2;
$color-grey: #DEE2E1;
$color-smoke: rgba(222, 226, 225, 0.50);

$font-xs: 0.125rem;
$font-s: 0.875rem;
$font-m: 1rem;
$font-l: 1.25rem;
$font-xl: 1.5rem;
$font-xxl: 2rem;
$font-3xl: 2.25rem;
$font-4xl: 3rem;
$font-giant:3.5rem;
$font-supergiant: 4rem;

$font-header: "Poppins", sans-serif;
$font-subtitle: "Signika Negative", sans-serif;
$font-txt: "Palanquin", sans-serif;


$fw-medium: 500;
$fw-sm-b: 600;
$fw-b: bold;

$generic-size-xs:16px;
$generic-size-s: 24px;
$generic-size-m: 28px;
$generic-size-l: 32px;
$generic-size-xl: 40px;
$generic-size-xxl: 48px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  box-sizing: border-box;
}


body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}


a {
  text-decoration: none;
  color: inherit;
}

button, input, select, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

.page {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  position: relative;
  background-image: url("../assets/cover/bg-cover-mobile.webp");
  background-repeat: no-repeat;
  background-size: 100vw auto;
  background-position: top;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 100px;
  margin: auto auto 300px;
}


.link-project {
  font-family: $font-txt;
  color: $color-2;
  font-size: 16px;
  display: block;
  width: 300px;
  margin: 10px auto;
}

.subtitle {
  font-size: $font-xxl;
  width: 200px;
  margin-bottom: 100px;
}

.subtitle, .subtitle-3 {
  font-family: $font-subtitle;
  color: $color-purple;
  text-decoration: underline;
  text-decoration-thickness: 6px;
  text-decoration-color: $color-green;
  text-underline-position: under;
  align-self: center;
  display: block;
}

.subtitle-3 {
  font-size: $font-xl;
  margin: 50px;
}


.first-page, .second-page {
  height: 600px;
}

.first-page, .second-page, .third-page {
  display: block;
  display: flex;
  flex-direction: column;
}


.first-page, .second-page, .third-page {
  justify-content: flex-start;
  margin-bottom: 100px;
}


button {
  background: transparent;
  border: 0;
}

.arrow-bloc {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.arrow-icon {
  width: 41px;
  height: 41px;
}

.green-bloc2 {
  display: none;
}


body {

  @include breakpoint(s) {

    .page {
      background-size: 100vw 118vh;
    }

    .first-page {
      height: 900px;
      margin-bottom: 300px;
    }

    .second-page {
      margin-top: 200px;
    }

   /*  .first-page, .second-page, .third-page {
      margin-bottom: 200px;
    } */

    main {
      width: unset;
      height: unset;
      margin: unset;
    }

    .header-layout {
      padding-top: 30px;
      justify-content: space-between;
      width: 90vw;
      margin-left: auto;
      margin-right: auto;
      height: 410v;
    }


    .layout-limit {
      width: 80vw;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 300px;
    }

    .navigation {
      padding-top: unset;
      padding-left: unset;
      width: 60%;
    }

    .nav-text {
      font-size: $font-xl ;
    }


    .dropdown-menu {
      height: 320px;
    }

    .portrait-bloc.active {
      margin-top: unset;
      transform: translateY(100px);
    }

    .portfolio-bloc, .menuB {
      margin: unset;
    }

    .portfolio {
      font-size: $font-3xl;
    }

    .portrait-bloc {
      margin-top: 70px;
      height: 400px;
    }

    .frame-selfie {
      width: 220px;
      height: 280px;
    }

    .selfie-img {
      border: 20px solid;
      border-radius: 18px;
      border-image: linear-gradient(
  #03398d, #00889c, #22a9a2) 1;
  background: rgba(224, 222, 222, 0.4) 50% / cover no-repeat;
    }

    .description {
      font-size: $font-xl;
    }

    .green-bloc {
      width: 68%;
    }

    .socialMedia-bloc {
      margin-top: 30px;
    }

    .social-img {
      margin: 0 16px;
      width: 80px;
      height: 80px;
    }

    .catchPhrase-bloc {
      width: 100%;
    }

    .catchPhrase {
      font-size: $font-xxl;
      width: 100%;
    }

    .arrow-bloc {
      margin-top: 100px;
    }

    .subtitle {
      font-size: $font-xxl;
      width: 190px;
      margin-bottom: 50px;
    }

    .text-about-bloc {
      height: 350px;
    }

    .text-about, .text-dev-environnement, .project-description {
      font-size: 18px;
      line-height: 1.4;
    }

    .project-description-2 {
      height: 60%;
    }

  }

  @include breakpoint(m) {

    .page {
      background-image: url("../assets/cover/bg-cover-tablet.webp");
      background-repeat: no-repeat;
      background-size: 100vw 100vh;
    }

    .first-page {
      height: 900px;
      margin-bottom: 200px;
    }

    .header {
      height: 120px;
      svg, svg image {
        height: 70px;
      }
    }

    .header-layout {
      padding-top: 15px;
      height: 100%;
    }

    .navigation {
      display: flex;
      flex-basis: calc(60% - 25px);
      justify-content: flex-end;
      a {
        font-size: $font-xl;
        padding: 0 3vw;
      }
    }

    .nav-text {
      color: $color-white;
    }

        .navigation a:last-child {
          padding-right: 0;
        }

    .portfolio-bloc {
      flex-basis: 30%;
      margin-right: 5vw;
    }

    .portfolio {
      font-size: $font-4xl;
    }

    .portrait-bloc {
      width: 500px;
      height: 500px;
      margin-top: 90px;
    }

    .frame-selfie {
      width: 280px;
      height: 300px;
    }

    .description-bloc {
      width: 100%;
      height: 150px;
    }

    .description {
      font-size: 2.20rem;
      line-height: 3.5rem;
    }

    .green-bloc {
      width: 56%;
      height: 8px;
    }

    .arrow-icon {
      width: 76px;
      height: 76px;
    }

    .arrow-bloc {
      margin-top: 60px;
    }

    .socialMedia-bloc {
      margin-top: 40px;
      height: 100px;
      justify-content: space-around;
    }

    .social-img {
      width: 106px;
      height: 107px;
    }

    .catchPhrase-bloc {
      height: 20%;
      display: flex;
      flex-direction: column;
    }

    .catchPhrase {
      font-size: 2.62rem;
    }

    .green-bloc2 {
      width: 585px;
      height: 12px;
      background-color: $color-green;
      display: block;
    }

    .wave-bloc, .wave-bloc-p2, .wave-img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 42px;
      display: block;
    }

    .subtitle {
      font-size: $font-xxl;
    }

    .linear-bloc {
      background-image: url("../assets/deco/bloc-cover.png");
      background-size: 90vw auto;
      background-repeat: no-repeat;
    }
    .text-about-bloc {
      width: 600px;
      height: 250px;
    }

    .text-about, .project-description {
      padding: 20px 40px;
    }

    .projet-description {
      padding: 1.5vh 20px;
    }

    .project-description {
      height: 20%;
    }

    .project-description-2 {
      height: 60%;
    }

    .text-skills {
      flex-basis: 20%;
    }

  }

  @include breakpoint(lTablet) {

    .page {
      background-size: 100vw 100vh;
    }


    .first-page {
      flex-direction: row-reverse;
      justify-content: center;
    }

    .first-page, .second-page {
      min-height: unset;
      height: 700px;
    }


    .first-page, .second-page, .third-page {
      margin-bottom: 60px;
    }

    .portrait-bloc {
      margin-top: unset;
      padding-left: 100px;
    }

    .frame-selfie {
      width: 180px;
      height: 200px;
    }

    .description-bloc {
      width: 400px;
    }

    .description {
      font-size: $font-xl;
    }

    .green-bloc {
      margin-top: unset;
    }

    .socialMedia-bloc {
      display: none;
    }

    .catchPhrase-bloc {
      padding: 25vh 0;
      width: 500px;
      height: 300px;
    }

    .catchPhrase {
      font-size: $font-xxl;
    }

    .green-bloc2 {
      display: none;
    }

    .arrow-bloc {
      position: absolute;
      top: 70vh;
    }

    .arrow-icon {
      width: 51px;
      height: 51px;
    }

  }

  @include breakpoint(l) {

    .page {
      background-image: url("../assets/cover/bg-cover.webp");
      background-repeat: no-repeat;
      background-size: 100vw 100vh;
    }

    .first-page {
      min-height: unset;
    }

    .header {
      height: 142px;
    }

    .header-layout {
      padding-top: unset;
    }

    .navigation {
      height: 30px;
    }

    .portfolio {
      font-size: $font-giant;
    }

    a {
      font-size: $font-xxl;
    }

    .portrait-bloc {
      margin-top: unset;
      height: 600px;
    }

    .frame-selfie {
      width: 314px;
      height: 365px;
    }

    .selfie-img {
      border: 25px solid;
      border-image: linear-gradient(#03398d, #00889c, #22a9a2) 1;
    }

    .description-bloc {
      width: 336px;
      height: 119px;
    }

    .description {
      font-size: $font-3xl;

    }

    .catchPhrase-bloc {
      height: 200px;
    }

    .green-bloc {
      width: 90%;
      height: 10px;
      margin-top: 22px;
    }

    .socialMedia-bloc {
      width: 400px;
    }

    .social-img {
      width: 110px;
      height: 110px;
    }

    .project-description {
      width: 600px;
      margin: 50px auto 50px
    }

    .subtitle-4 {
      margin: 25px;
    }

    .ul-skills {
      width: 800px;
    }

  }

  @include breakpoint(xl) {


    header {
      padding-right: 120px;
      svg {
        margin-left: 0;
      }
    }

    .header-layout {
      width: 90vw;
      padding-top: unset;
    }


    .navigation a {
      font-size: 2.5rem;
    }

    .subtitle {
      font-size: $font-4xl;
      width: 400px;
    }

    .frame-selfie {
      width: 314px;
      height: 365px;
    }

    .portfolio {
      font-size: 4.375rem;
    }
    .portfolio-bloc {
      flex-basis: 30%;
    }

    .first-page {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      grid-template-rows: repeat(4, minmax(0, 1fr));
      gap: 24px;
      max-height: 1100px;
      margin-bottom: 300px;
    }

    .portrait-bloc {
      grid-area: 1 / 9 / 3 / 11;
      padding-top: 150px;
    }

    .description-bloc {
      width: 636px;
      height: 250px;
    }

    .description {
      font-size: $font-3xl;
      line-height: 5rem;
    }

    .green-bloc {
      width: 45%;
    }

    .socialMedia-bloc {
      width: 400px;
      height: 150px;
      grid-area: 4 / 9 / 4 / 11;
      margin-top: unset;
      margin-left: 50px;
    }

    .social-img {
      width: 135px;
      height: 135px;
    }

    .catchPhrase-bloc {
    width: 800px;
    grid-area: 2/2/4/6;
    height: 360px;
    max-height: unset;
    }

    .catchPhrase {
      font-size: $font-giant;
      padding-top: 100px;
    }

    .green-bloc2 {
    background-color: #acf39d;
    width: 791px;
    height: 18px;
    border-radius: 3px;
    }

    .arrow-bloc {
      margin-top: unset;
      grid-area: 4/6/5/7;
      padding-top: 250px;
    }

    .second-page {
      flex-direction: row;
      flex-wrap: wrap;
      height: 1200px;
      padding: 0 8%;
      justify-content: center;
      .subtitle {
        flex-basis: 100%;
        text-align: center;
      }
    }

    .draw-woman {
      width: 500px;
      height: 700px;
      border-radius: 30px;
      margin: auto;
    }

    .text-about-bloc {
      width: 600px;
      height: 600px ;
      margin: auto;
      flex-basis: unset;
      align-self: center;
      margin-bottom: 50px;
    }

    .dev-environnement-bloc {
      flex-basis: 100%;
    }

    .text-about {
      padding: 40px 60px;
    }

    .text-about, .text-dev-environnement {
      font-size: $font-xxl;
      font-weight: 400;
    }

    .react-icon {
      width: 120px;
      height: 120px;
    }

    .node-icon {
      width: 100px;
      height: 100px;
    }

    .third-page {
      flex-direction: row;
      margin: auto;
      width: 80vw;
      flex-wrap: wrap;
      height: 1800px;
      justify-content: center;
    }

    .subtitle {
      flex-basis: 100%;
      text-align: center;
    }

    .subtitle-3 {
      font-size: $font-xxl;
    }

    .project-bloc {
      flex-direction: row;
      width: 90vw;
      justify-content: center;
      align-items: center;
    }

    .project-img {
      width: 500px;
      height: 700px;
    }

    .project-description {
      font-size: 21px;
    }

    .projet-description-1 {
      margin: 100px auto 102px;
    }

    .project-description-2 {
      height: 400px;
    }

    .kasa-project, .monVieuxGrim-project {
      justify-content: center;
    }

    footer {
      height: 280px;
    }

    .flex-contact {
      padding-top: 50px;
      width: 400px;
      a, p {
        font-size: $font-xl;
        font-weight: 600;
      }
    }

  }
}




