
.portrait-bloc, .socialMedia-bloc, .catchPhrase-bloc, .arrow-bloc {
  transition: all 0.6s ease-in;
}

.portrait-bloc.active, .socialMedia-bloc.active, .catchPhrase-bloc.active, .arrow-bloc.active {
  margin-top: 10%;
  transform: translateY(200px);
  transition: all 0.7s ease-out;
}


